db.sqlite3
__pycache__/
angaar_hai/.env
angaar_hai/settings.py
media/
backups/
test.py
debug.log
errors.log
Old Code/

venv/

home/__pycache__/


home/__pycache__/
instructor/__pycache__/
student/__pycache__/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd


# PyCharm
.idea/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db

.env
prompt.txt